---
import type { Stats as Props } from '~/types';
import Headline from '../ui/Headline.astro';
import Image from '~/components/common/Image.astro';
import WidgetWrapper2 from '../ui/WidgetWrapper2.astro';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  stats = [],
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper2 id={id} isDark={isDark} containerClass={`max-w-8xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />
  <div class="flex flex-wrap justify-center text-center gap-2">
    {
      stats &&
        stats.map(({ image, title }) => (
          <div class="md:w-1/5 sm:w-1/2 w-full min-w-[300px] text-center">
            {image && (
              <div class="font-heading text-primary text-center text-[2.6rem] font-bold dark:text-white lg:text-5xl xl:text-6xl flex justify-center border-spacing-1 flex-col bg-gray-50 items-center">
                <Image src={image} alt="stats" width={300} height={250} style={'object-fit: contain;'} />
                <p class="text-sm text-muted">{title}</p>
              </div>
            )}
          </div>
        ))
    }
  </div>
</WidgetWrapper2>
